@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Fraunces', serif;
    position: relative;
}

.container {
    padding: 2rem;
}

@media only screen and (max-width:600px) {
    .container {
        padding: 1.5rem 1rem;
    }
}

.main-header {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url('./test2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

@media only screen and (max-width:600px) {
    .main-header {
        min-height: 100vh;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url('./test2.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}


.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width:600px) {
    .nav-items {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}


.nav-items .logo {
    padding: 2px 4px;
    font-size: 1.8rem;
    letter-spacing: 1px;
    color: #ffc600;
    background: rgba(0, 0, 0, 0.0);
    text-shadow: 0 0 20px rgb(0, 0, 0);
    box-shadow: 0 0 3px 4px #ffc600;
    border-radius: 4px;
}


@media only screen and (max-width:600px) {
    .nav-items .logo {
        font-size: .9rem;
    }
}

.nav-items .navbars {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}


@media only screen and (max-width:600px) {
    .nav-items .navbars {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
        width: 100%;
        min-height: 70%;
        margin: 20px auto 0 auto;
        text-align: center;
        background-color: #000000ee;
        padding: 3rem 0;
        border-radius: 5px;
        z-index: 15;
        position: absolute;
        left: -100%;
        top: 40px;
        transition: 0.5s all ease-in-out;
    }
}

.nav-items .navbars li {
    list-style: none;
    
}

.nav-items .navbars li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
}

@media only screen and (max-width:600px) {
    .nav-items .navbars li a {
        color: #ffc600;
        font-size: 1.4rem;
        margin: 20px 0;
    }
    
}


.nav-items .navbars li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #ffc600;
    transition: all 0.5s ease-in-out;
}


@media only screen and (max-width:600px) {
    .nav-items .navbars li a::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: #fff;
        transition: all 0.5s ease-in-out;
    }
}


.nav-items .navbars li a:hover::after {
    width: 100%;
}

@media only screen and (max-width:600px) {
    .nav-items .navbars li a:hover::after {
        width: 100%;
    }
    
}


.toggle-button {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 2rem;
    top: 2rem;
    display: none;
}

.toggle-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width:600px) {
    .toggle-button {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 1rem;
        top: .8rem;
        display: block;
    }
}



.headline {
    margin-top: 100px;
    text-align: center;
}

@media only screen and (max-width:600px) {
    .headline {
        margin-top: 40%;
        text-align: center;
    } 
}


.headline h1 {
    color: #fff;
    font-size: 5rem;
    letter-spacing: 5px;
    position: relative;
}

@media only screen and (max-width:600px) {
    .headline h1 {
        color: #fff;
        font-size: 3rem;
        letter-spacing: 5px;
        position: relative;
    }
}


.headline h1::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 6px;
    background-color: #ffc600;
    left: 45%;
    bottom: -10px;
    border-radius: 100px;
}

@media only screen and (max-width:600px) {
    .headline h1::after {
        content: "";
        position: absolute;
        width: 10%;
        height: 4px;
        background-color: #ffc600;
        left: 45%;
        bottom: -10px;
        border-radius: 100px;
    }
}


.headline p {
    margin: 40px 0;
    color: #fff;
    width: 100%;
    font-size: 1.2rem;
    position: relative;
}

@media only screen and (max-width:600px) {
    .headline p {
        margin: 10% 0;
        color: #fff;
        width: 100%;
        font-size: 1rem;
        position: relative;
    }
}

.headline p::after {
    position: absolute;
    content: url('/arrow-down.svg');
    filter: invert(0.8);
    left: 49%;
    top: 60px;
    height: 10px;
    width: 0px;
    transition: 0.1s all ease;
    animation: arrow ease 1s infinite;
}

@media only screen and (max-width:600px) {
    .headline p::after {
    position: absolute;
    content: url('/arrow-down.svg');
    filter: invert(0.8);
    left: 49%;
    top: 0px;
    height: 7px;
    width: 0px;
    transition: 0.1s all ease;
    animation: arrow ease 1s infinite;
}
}

@keyframes arrow {
    0% {
        top: 60px;
    }


    100% {
        top: 90px;
    }
    
}

@media only screen and (max-width:600px) {
    @keyframes arrow {
        0% {
            top: 70px;
        }
    
    
        100% {
            top: 90px;
        }
        
    }
}


.headline .button {
    margin: 90px auto 0 auto;
    padding: 15px 45px;
    background-color: transparent;
    color: #FFF;
    text-shadow: 0px 0px 5px #ffc600;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: capitalize;
    border: 3px solid #ffc600;
    border-radius: 10px;
    /**box-shadow: inset 3px 3px 3px #ffc600,
                /*-3px -3px 3px #ffc800a2*/
                /*inset -3px -3px 3px #ffc600;
    **/
    cursor: pointer;
    opacity: 1;
    transition: 1s all ease-in-out;
    position: relative;
    z-index: 1;
}

@media only screen and (max-width:600px) {
    .headline .button {
        margin: 100px auto 0 auto;
        padding: 10px 30px;
    }
}

.headline .button:hover {
    opacity: 1;
    transform: scale(1.05);
    background: transparent;
    color: #fff;
    text-shadow: 0 0 10px #ffc600,
                0 0 16px #ffc600,
                0 0 26px #ffc600,
                0 0 36px #ffc600,
                1px 1px 48px #ffc600,
                2px 2px 60px #ffc600,
                0px 20px 80px #ffc600,
                10px 30px 100px transparent;
}



.main-wrapper .gallery {
    margin: 20px 0 40px;
    font-size: 2rem;
    font-family: 'Fraunces', serif;
    position: relative;
}

@media only screen and (max-width:600px) {
    .main-wrapper .gallery {
        margin: 20px auto 40px auto;
        font-size: 1.6rem;
        font-family: 'Fraunces', serif;
        position: relative;
        text-align: center;
    }
}

.main-wrapper .gallery h2::after {
    position: absolute;
    content: "";
    left: 4%;
    bottom: -5px;
    width: 6%;
    height: 5px;
    background-color: #ffc600;
}

@media only screen and (max-width:600px) {
    .main-wrapper .gallery h2::after {
        position: absolute;
        content: "";
        left: 45%;
        bottom: -5px;
        width: 6%;
        height: 4px;
        background-color: #ffc600;
    }
}

.main-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 300px);
    grid-gap: 1rem;
}

@media only screen and (max-width:600px) {
    .main-gallery {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(12, 300px);
        grid-gap: 1rem 0;
    }
}

.main-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}

.main-gallery .gallery-1 {
    grid-row: 1/ span 2;
}

@media only screen and (max-width:600px) {
    .main-gallery .gallery-1 {
        grid-row: 1/ span 1;
    }
}

.main-gallery .gallery-5 {
    grid-column: span 2;
}

@media only screen and (max-width:600px) {
    .main-gallery .gallery-5 {
        grid-column: span 1;
    }
}

.main-gallery .gallery-9,
.main-gallery .gallery-10 {
    grid-column: span 2;
}

@media only screen and (max-width:600px) {
    .main-gallery .gallery-9,
    .main-gallery .gallery-10 {
        grid-column: span 1;
    }
}


.main-gallery img:hover {
    transform: scale(1.1);
    z-index: 1000;
}


.contacts {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1rem;
    margin: 60px 0;
}

@media only screen and (max-width:600px) {
    .contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem 0;
        margin: 60px 0;
        width: 100%;
    }
}

.contact .con {
    margin: 60px 0px;
    font-size: 2rem;
    text-align: center;
    font-family: 'Fraunces', serif;
    position: relative;
}

.contact h2::after {
    position: absolute;
    content: "";
    left: 48%;
    bottom: -5px;
    width: 5%;
    height: 3px;
    background-color: #ffc600;
}


label {
    margin: 15px 0 5px 0;
    font-size: 19px;
    font-weight: 500;
}

@media only screen and (max-width:600px) {
    label {
        margin: 15px 0 5px 0;
        font-size: 17px;
        font-weight: 500;
    }
}


.full-name, 
.phone, 
.email,
.message {
    display: flex;
    flex-direction: column;
}

.submit {
    margin: 35px auto 0 30%;
}

.submit-button {
    font-size: 16px;
    padding: 14px 42px;
    box-shadow: 3px 4px 3px rgba(117, 117, 117, 0.699);
    background-color: #000;
    color: #ffc600;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    opacity: 1;
}

@media only screen and (max-width:600px) {
    .submit-button {
        font-size: 15px;
        padding: 12px 36px;
    }
}

.submit-button:hover {
    opacity: 0.9;
}

.enquiry input,
.enquiry textarea {
    padding: 9px;
    border-radius: 5px;
    border: 2px solid #000;
    outline: none;
}

input::placeholder,
textarea::placeholder {
    font-size: 14px;
}

#full-name, #order {
    width: 100%;
}

@media only screen and (max-width:600px) {
    #full-name, #order {
        width: 100%;
    }
}

#phone-no {
    width: 60%;
}

@media only screen and (max-width:600px) {
    #phone-no {
        width: 100%;
    }
}

#email {
    width: 60%;
}

@media only screen and (max-width:600px) {
    #email {
        width: 100%;
    }
}


@media only screen and (max-width:600px) {
    .enquiry {
        width: 100%;
    }
}


.enquiry h3 {
    font-size: 1.7rem;
    margin-bottom: 30px;
    text-decoration: underline;
}

.vertical-line {
    width: 2px;
    border: 1px solid #000;
}

@media only screen and (max-width:600px) {
    .vertical-line {
        height: 1px;
        width: 100%;
        border: 2px solid #000;
        margin: 20px 0;
    }
}

.contact-us {
    border-radius: 5px;
    padding: 40px 100px;
    text-align: center;
    box-shadow:  3px 5px 10px rgb(102, 102, 102);          
    width: 80%;
    margin: auto;
}

@media only screen and (max-width:600px) {
    .contact-us {
        border-radius: 5px;
        padding: 20px 20px;
        text-align: center;
        box-shadow:  3px 5px 10px rgb(102, 102, 102);          
        width: 100%;
    }
}


.contact-us h3 {
    margin: 20px 0px 40px 0;
    font-size: 1.7rem;
    text-decoration: underline;
}

@media only screen and (max-width:600px) {
    .contact-us h3 {
        margin: 20px 0px 40px 0;
        font-size: 1.3rem;
        text-decoration: underline;
    }
}

.contact-us a {
    color: #000;
    text-decoration: none;
    font-size: 19px;
}


@media only screen and (max-width:600px) {
    .contact-us a {
        color: #000;
        text-decoration: none;
        font-size: 15px;
    }
}


.phones, .whatsapp, .mail {
    margin: 15px 0;
    text-align: center;
    transition: 0.4s all ease-in-out;
    padding: 0 50px;
}

@media only screen and (max-width:600px) {
    .phones, .whatsapp, .mail {
        margin: 15px 0;
        text-align: start;
        transition: 0.4s all ease-in-out;
        padding: 0 0px;
    }
}

.phones:hover, .whatsapp:hover, .mail:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

.mail, .whatsapp, .phones {
    display: flex;
    justify-content: flex-start;
}


.mail img, .whatsapp img, .phones img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

@media only screen and (max-width:600px) {
    .mail img, .whatsapp img, .phones img{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    
}

.social-account {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    gap: 10%;
    margin: auto;
}

@media only screen and (max-width:600px) {
    .social-account {
        display: grid;
        place-content: center;
        grid-template-columns: repeat(3, 50px);
        gap: 0px;
    }
}

.social-account li {
    list-style: none;
    margin-inline: auto;
    margin-top: 30px;
}

.social-media {
    width: 40px;
    height: 40px;
    transition: 0.4s all ease-in-out;
}

@media only screen and (max-width:600px) {
    .social-media {
        width: 30px;
        height: 30px;
        transition: 0.4s all ease-in-out;
    }
}

.social-media:hover {
    transform: scale(1.3);
}


footer {
    color: #fff;
    background-color: #000;
}

.mainfooter {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media only screen and (max-width:600px) {
    .mainfooter {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.mainfooter .ta-fabrics {
    color: #ffc600;
    font-size: 1.3rem;
}

@media only screen and (max-width:600px) {
    .mainfooter .ta-fabrics {
        font-size: 1.1rem;
    }
}


.mainfooter h3 {
    color: #ffc600;
    margin-bottom: 30px;
    font-size: 1.3rem;
}

@media only screen and (max-width:600px) {
    .mainfooter h3 {
        margin-bottom: 30px;
        font-size: 1rem;
    }
}

.events h3 {
    margin-bottom: 30px;
    font-size: 1.3rem;
}

@media only screen and (max-width:600px) {
    .events h3 {
        margin-bottom: 30px;
        font-size: 1rem;
    }
}


.events li {
    list-style: inside;
    margin-bottom: 30px;
    font-size: 1rem;
    font-weight: 500;
}

@media only screen and (max-width:600px) {
    .events li {
        list-style: inside;
        margin-bottom: 30px;
        font-size: .8rem;
        font-weight: 400;
    }
}

.social-media-account {
    display: flex;
    flex-direction: column;
}

.social-media-account img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

@media only screen and (max-width:600px) {
    .social-media-account img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
}

.social-media-account li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-bottom: 20px;
    font-size: 1rem;
}

@media only screen and (max-width:600px) {
    .social-media-account li {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin-bottom: 20px;
        font-size: .8rem;
    }
    
}

.social-media-account li a {
    text-decoration: none;
    color: #fff;
    width: 100px;
}

.copy {
    padding: 0 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width:600px) {
    .copy {
        padding: 0 20px 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-size: .8rem;
    }
}

.copy a {
    color: #ffc600;
    text-decoration: none;
    font-size: 1.1rem;
}

@media only screen and (max-width:600px) {

    .copy h4 {
        display: flex;
        flex-direction: column;
    }
    .copy a {
        color: #ffc600;
        text-decoration: none;
        font-size: 0.8rem;   
    }
}


.direct-contact {
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 20;
    right: 2rem;
    bottom: 2rem;
}

.direct-contact img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width:600px) {
    .direct-contact {
        width: 40px;
        height: 40px;
        right: 1.5rem;
        bottom: 2rem;   
    }

    .direct-contact img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}







